@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

a:hover, 
a:focus {
    opacity: 0.8;
    transition: opacity 0.25s ease-in;
}

@font-face {
  font-family: 'IBM Plex Sans';
  src: url('/fonts/IBMPlexSans-Regular.woff2') format('woff2'),
       url('/fonts/IBMPlexSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'IBM Plex Sans';
  src: url('/fonts/IBMPlexSans-Medium.woff2') format('woff2'),
       url('/fonts/IBMPlexSans-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'IBM Plex Sans';
  src: url('/fonts/IBMPlexSans-SemiBold.woff2') format('woff2'),
       url('/fonts/IBMPlexSans-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'IBM Plex Sans';
  src: url('/fonts/IBMPlexSans-Bold.woff2') format('woff2'),
       url('/fonts/IBMPlexSans-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
}

.logo__name {
  font-weight: 700;
  color: white;
  font-size: 20px;
  line-height: 1em;
  text-transform: uppercase;
}

.logo__description {
  line-height: 1em;
  font-size: 10px;
  color: #d2b9b9;
}

.search-select-item {
  font-size: 13px;
  cursor: pointer;
  color: #4682B4;
  border-bottom: 1px dashed #4682B4;
}

.search-select--expand::before {
    display: inline-block;
    vertical-align: baseline;
    width: 16px;
    height: 10px;
    background: url(/img/search-expanded.png);
    content: "";
    margin-right: 8px
}

.search-select--active {
    background: #f0f3f6;
    color: #000;
    padding: 4px 10px 3px;
    border-radius: 5px;
    border-bottom: none;
}

.search-select--active::before {
  display: inline-block;
  vertical-align: baseline;
  width: 16px;
  height: 10px;
  background: url(/img/search-expanded-active.png);
  content: "";
  margin-right: 8px
}

.examples__select {
  font-size: 13px;
  cursor: pointer;
  color: #4682B4;
  border-bottom: 1px solid #4682B4;
}

.is-active {
  background: #f0f3f6;
  color: #000;
  padding: 4px 10px 3px;
  border-radius: 5px;
  border-bottom: none;
}

.search_btn {
    width: 183px;
    height: 46px;
    align-items: center;
    font-size: 14px;
    color: #fff;
    border-radius: 0 4px 4px 0;
    background-color: #4682B4;
}

.search_btn:hover {
  background-color: #204a89;
}

.examples__zoom {
  position: relative;
  width: 200px;
  height: 280px;
}

.examples__zoom::before {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.2);
}

.examples__zoom img {
  width: 100%;
  height: 100%;
}

.examples__zoom:hover::before {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  background-image: url('/img/zoom-in.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  cursor: pointer;
}
.examples__zoom-alt {
  position: relative;
  width: 400px;
  height: 200px;
}

.examples__zoom-alt::before {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.2);
}

.examples__zoom-alt img {
  width: 100%;
  height: 100%;
}

.examples__zoom-alt:hover::before {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  background-image: url('/img/zoom-in.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  cursor: pointer;
}
.examples__zoom-checkbox {
  position: relative;
  width: 150px;
  height: 150px;
}

.examples__zoom-checkbox::before {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.2);
}

.examples__zoom-checkbox img {
  width: 100%;
  height: 100%;
}

.examples__zoom-checkbox:hover::before {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  background-image: url('/img/zoom-in.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  cursor: pointer;
}


/* CSS для фиксированного заголовка */
.fixed-header {
  position: sticky;
  top: 0;
  background-color: #598a60; /* Цвет фона thead */
  color: #fff; /* Цвет текста */
  height: 40px; /* Высота thead */
  z-index: 1; /* Задний план, чтобы заголовок оставался выше контента при прокрутке */
}

.loader {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: block;
  margin:15px auto;
  position: relative;
  color: #c3cdd4;
  box-sizing: border-box;
  animation: animloader 2s linear infinite;
}

@keyframes animloader {
  0% {
    box-shadow: 14px 0 0 -2px,  38px 0 0 -2px,  -14px 0 0 -2px,  -38px 0 0 -2px;
  }
  25% {
    box-shadow: 14px 0 0 -2px,  38px 0 0 -2px,  -14px 0 0 -2px,  -38px 0 0 2px;
  }
  50% {
    box-shadow: 14px 0 0 -2px,  38px 0 0 -2px,  -14px 0 0 2px,  -38px 0 0 -2px;
  }
  75% {
    box-shadow: 14px 0 0 2px,  38px 0 0 -2px,  -14px 0 0 -2px,  -38px 0 0 -2px;
  }
  100% {
    box-shadow: 14px 0 0 -2px,  38px 0 0 2px,  -14px 0 0 -2px,  -38px 0 0 -2px;
  }
}

.examples__list li::before {
  color: #4682B4;
  content: "\25CF";
  padding-right: 10px;
}

.section-modalka {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.35);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
.section {
  background: black;
  z-index: 999;
}

